@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Asul&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Asul, sans-serif;
    background: rgb(233, 199, 155);
}

h1, h2, h3 {
    font-family: Artifika, sans-serif;
}

section {
    clear: both;
}

/* Header */
header {
    margin: 0.6rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

#logo {
    float: left;
    line-height: 4.7rem;
}

nav {
    float: right;
}

#menu li {
    display: inline;
    line-height: 4.7rem;
}

#menu a {
    color: black;
    text-decoration: none;
    margin: 0.25rem;
    font-size: 120%;
}

#menu a:hover {
    text-decoration: underline;
}

/* Hero image */
#hero-image {
    height: 28rem;
    width: 80vw;
    background: url(../images/hero.jpg) no-repeat center center;
    margin-left: 5%;
    padding-left: 3%;
    margin-top: 1.25rem;
    position: absolute;
}

.border {
    border-width: 0.6rem;
    border-style: double;
    border-color: black;
    border-radius: 20%;
}

/* Text and image on hero image */

#cover-info {
    position: relative;
    padding-left: 15%;
    font-size: 200%;
    padding-top: 5%;
}

#photo {
    height: auto;
    width: 10rem;
    border-radius: 50%;
    border-color: black;
}

#cover-info ul {
    padding: 3.1rem;
}

/* More info and merits */

#merits {
    float: right;
    width: 40vw;
    padding: 2rem;
}

#merits ul {
    font-size: 130%;
    padding: 1rem;
}

#merits li {
    padding: 1rem;
}

#merits h3 {
    text-decoration: underline;
}

#about {
    width: 40vw;
    font-size: 120%;
    padding: 2rem;
    position: absolute;
}

#about h2 {
    margin-left: 1rem;
}

#about p {
    margin: 1rem;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* Gallery */

#images {
    width: 90vw;
    clear: both;
    line-height: 3rem;
    column-count: 4;
    margin: 0 auto;
}

#images img {
    width: 20vw;
}

#gallery h2 {
    margin: 2rem;
    padding: 3rem 2rem 2rem 2rem;
    text-align: center;
}

/* media queries */

@media screen and (max-width: 1110px) {

    #about, #merits {
        position: relative;
        width: 70vw;
        float: left;
    }

    #images {
        column-count: 3;
    }

    #images img {
        width: 25vw;
    }
   
    #merits ul {
        display: inline-block;
        float: none;
    }
}

@media screen and (max-width: 690px) {

    nav, #logo {
        width: 100%;
        text-align: center;
    }

    #images {
        column-count: 2;
    }

    #images img {
        width: 40vw;
    }
}

@media screen and (max-width: 450px) {
    #menu {
        font-size: 90%;
    }
    #cover-info {
        font-size: 120%;
    }
}

@media screen and (max-width: 350px) {
    #menu {
        letter-spacing: 0;
        font-size: 80%;
    }
    #logo {
        font-size: 150%;
        margin-top: 1.5rem;
        line-height: 0;
        font-size: 130%;
    }
    #menu a {
        margin: 0;
    }
    #cover-info {
        font-size: 100%;
    }
    #images {
        column-count: 1;
    }

    #images img {
        width: 80vw;
    }
}