@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Asul&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Asul, sans-serif;
    background: rgb(233, 199, 155);
}

h1, h2, h3 {
    font-family: Artifika, sans-serif;
}

section {
    clear: both;
}

/* Header */

header {
    margin: 0.6rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

#logo {
    float: left;
    line-height: 4.7rem;
}

nav {
    float: right;
}

#menu li {
    display: inline;
    line-height: 4.7rem;
}

/* Hero image */

#hero-image {
    height: 28rem;
    width: 80%;
    background: url(../images/hero.jpg) no-repeat center center;
    margin-left: 5%;
    border: 10px;
    padding-left: 3%;
    margin-top: 1.25rem;
    position: absolute;
    border-style: double;
    border-color: black;
    border-radius: 20%;
}

#menu a {
    color: black;
    text-decoration: none;
    margin: 0.25rem;
}

#menu a:hover {
    text-decoration: underline;
}

/* Text and image on hero image */

#cover-info {
    position: relative;
    padding-left: 15%;
    font-size: 200%;
    padding-top: 5%;
}

#photo {
    height: auto;
    width: 10rem;
    border-radius: 50%;
    border-color: black;
}

#cover-info ul {
    padding: 3.1rem;
}

/* More info and merits */

#merits {
    float: right;
    width: 40%;
    padding: 2rem;
}

#merits ul {
    font-size: 130%;
    padding: 1rem;
}

#merits li {
    padding: 1rem;
}

#about {
    width: 40%;
    font-size: 120%;
    padding: 4rem;
}

#about p {
    margin: 1rem;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* media queries */

@media screen and (max-width: 590px) {

    nav, #logo {
        width: 100%;
        text-align: center;
    }
}