@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Asul&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Asul, sans-serif;
    background: rgb(233, 199, 155);
}


h1, h2, h3 {
    font-family: Artifika, sans-serif;
}

p, label, a {
    font-size: 120%;
    color: black;
    text-decoration: none;
    margin: 0.25rem;
}

ul li {
    font-size: 150%;
    margin: 1rem;
}

.title {
    padding: 3rem, 1rem, 3rem, 1rem;
}

header, section {
    margin: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    clear: both;
}

a:hover {
    color: white;
}

/* Header */

h1 {
    float: left;
    line-height: 4.7rem;
    padding-left: 3rem;
    font-size: 240%;
}

nav {
    float: right;
    padding-right: 3rem;
}

ol li {
    display: inline;
    line-height: 4.7rem;
}

/* Hero image */

#hero {
    height: 28rem;
    width: 80vw;
    background: url(../images/hero.jpg) no-repeat center center;
    position: absolute;
    margin-left: 5rem;
}

.border {
    border-width: 0.6rem;
    border-style: double;
    border-color: black;
    border-radius: 20%;
}

/* Cover text and photo */

#cover {
    position: relative;
    padding-left: 20rem;
    padding-top: 5rem;
}

#photo {
    height: auto;
    width: 10rem;
    margin-top: 5rem;
    border-radius: 50%;
}

/* About section */
.floatblock {
    width: 40vw;
    padding: 2rem;
}

h3 {
    text-decoration: underline;
    padding-bottom: 1rem;
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* Gallery section */

#gallery {
    width: 90vw;
    line-height: 3rem;
    column-count: 4;

    padding: 2rem;
}

#gallery img {
    width: 20vw;
}

/* Contact section */

iframe {
    margin-top: 2rem;
    height: 17rem;
    width: 30rem;
}

.block {
    padding: 4px;
    border-style: solid;
    border-width: 2px;
    margin-top: 6px;
}

fieldset {
    display: inline;
}

label {
    display: block;
}

#monthly-letter label {
    display: inline;
}

#last-section {
    margin-bottom: 2rem;
}

/* Footer */
footer {
    text-align: center;
    background-color: #edd0b3;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 1.5rem;
    border: solid;
    border-width: 0.03rem;
}

footer p {
    display: inline;
    padding-bottom: 0.2rem;
}


/* media queries */

@media screen and (max-width: 1110px) {

    #about, #merits {
        position: relative;
        width: 70vw;
        float: left;
    }

    #images {
        column-count: 3;
    }

    #images img {
        width: 25vw;
    }
   
    #merits ul {
        display: inline-block;
        float: none;
    }
}

@media screen and (max-width: 690px) {

    nav, #logo {
        width: 100%;
        text-align: center;
    }

    #images {
        column-count: 2;
    }

    #images img {
        width: 40vw;
    }
}

@media screen and (max-width: 450px) {
    #menu {
        font-size: 90%;
    }
    #cover-info {
        font-size: 120%;
    }
}

@media screen and (max-width: 350px) {
    #menu {
        letter-spacing: 0;
        font-size: 80%;
    }
    #logo {
        font-size: 150%;
        margin-top: 1.5rem;
        line-height: 0;
        font-size: 130%;
    }
    #menu a {
        margin: 0;
    }
    #cover-info {
        font-size: 100%;
    }
    #images {
        column-count: 1;
    }

    #images img {
        width: 80vw;
    }
}